#wrapper {
    background: linear-gradient(180deg, #00c6ff, #0072ff);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
#pinButton {
    position: absolute;
    right: -300px;
    top: -40px;
    font-size: 1000px;
    background: #f4f4f4;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transform: rotate(270deg); */
    display:block;
    opacity: .2;
    transition: opacity .05s ease-in-out;
  }
  