#feed {
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin-top: 80px;
  /* background: ; */
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.scroll {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post {
  max-width: 500px;
  max-height: 650px;
  margin: 50px;
  margin-top: 25px;
  background: white;
  display: block;
  grid-template-rows: 70% 30%;
  gap: 25px;
  grid-template-areas:
    "imgWrap"
    "postInfo";
  overflow: hidden;
  border-radius: 20px;
}
.imgWrap {
  grid-area: imgWrap;
  width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}
.postImg {
  max-width: 100%;
  height: auto;
}
.postInfo {
  grid-area: postInfo;
}

@media only screen and (max-width: 900px) { 
    .post {
        width: 100%;
        max-height: 650px;
        margin-top: 25px;
        background: red;
        display: block;
        grid-template-rows: 70% 30%;
        gap: 25px;
        grid-template-areas:
          "imgWrap"
          "postInfo";
        overflow: hidden;
        border-radius: 20px;
      }
    .imgWrap {
        grid-area: imgWrap;
        width: 100%;
        height: 400px;
        overflow: hidden;
        object-fit: scale-down;
        display: flex;
        justify-content: center;
      }
  }