.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

/* Map Popup */
.country-name {
  font-size: 1.5rem;
}

.flag-icon {
  height: 2rem;
  width: auto;
}

.mapboxgl-popup-content {
 border-radius: 25px;
 
 
}

.mapboxgl-popup{
  transform:none !important;
}
.mapboxgl-popup-tip{display:none;}
.mapboxgl-popup-close-button {
  outline: none;
  padding: 10px;
}