#login {
  background: linear-gradient(100deg, #00c6ff, #0073ffc3);
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#hoveredBtn {
  width: 80%;
  border-radius: 50px;
  box-shadow: 0 20px 50px rgba(33, 33, 33, 0.662);
  transform: translateY(-10px);
  background: linear-gradient(to left, #EB3349 0%, #F45C43 100%);
  height: 100px;
  overflow: hidden;
  position: relative;
  border: none;
  outline: none;
}

#hoveredBtn #globe {
    opacity: 0;
    visibility: hidden;
  }

#hoveredBtn .button-text {
  opacity: 1;
}

.swipetoSign {
  width: 65%;
  margin-top: -3vh;
  margin-bottom: 3.5vh;
  font-size: 2vh;
  color: white;
}





.logoHeader {
  width: 100%;
  background: #fefefe;
  margin-top: 50px;
  /* border-radius: 0  0 50px 50px ;
    background: #fefefe; */
  font-size: 0px;
  text-align: left;
  /* box-shadow: 0 10px 50px rgba(33, 33, 33, 0.573); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loginC {
  width: 100%;
  height: 100vh;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.121);
  backdrop-filter: blur(10px);
  display: grid;
  grid-row: auto;
  z-index: 100;
  margin-top:46vh;
}

.loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 10px 50px rgba(33, 33, 33, 0.573);
  z-index: 5;
}


.signupC { 
  width: 100%;
  height: 100vh;
  border-radius: 25px 25px 0 0;
  background: rgba(255, 255, 255, 0.121);
  backdrop-filter: blur(2px);
  display: grid;
  grid-row: auto;
  z-index: 100;
  margin-top: 46vh;
  transition: margin-top .5s, backdrop-filter .5s ease-in-out;
}
.signupCard {
  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 50px rgba(33, 33, 33, 0.573);
  z-index: 5;
}

.signupC:hover { 
  backdrop-filter: blur(30px);
  margin-top: 20vh;
}
.form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin-bottom: 5vh;
  outline: none;
  padding: 8px;
  background: rgba(255, 255, 255, 0.806);
  backdrop-filter: blur(10px);
  border: none;
  transition: border .2s ease-in-out;
}

.input::placeholder{
  background: #00a2ffc5;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  padding-left: 3px;
}
.input:focus {
  border: 3px solid #ff4428c1;
}
.formTitle {
  width: 100vw;
  color: #fefefe;
  font-size: 70px;
}

.submit-btn {
  width: 100px;
  height: 40px;
border-radius: 50px;
box-shadow: 0 20px 50px rgba(33, 33, 33, 0.662);
transform: translateY(-10px);
background: linear-gradient(to left, #EB3349 0%, #F45C43 100%);
border: none;
outline: none;
color: white;
text-transform: uppercase;
font-weight: 400;
}
.signSubmit-btn {
  width: 100px;
  height: 40px;
border-radius: 50px;
box-shadow: 0 20px 50px rgba(33, 33, 33, 0.662);
transform: translateY(-10px);
background: linear-gradient(100deg, #00c6ff, #0073ffc3);
border: none;
outline: none;
color: white;
text-transform: uppercase;
font-weight: 400;
margin-top: 20px;
}



@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}


@keyframes slide {
  from {
    transform: rotate(0);
  }
  to {
    right: -50px;
    transform: rotate(270deg);
  }
}

.slide {
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: .6s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 500px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}




.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-delay: .8s;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.input {
  min-width: 200px;
  border-radius: 25px;
  min-height: 20px;
  outline: 0;
}



@media only screen and (min-width: 900px) {
  #hoveredBtn {
      width: 600px;
    }
}

@media only screen and (max-height: 800px) {
  .loginC { 
    margin-top: 26vh;
    backdrop-filter: blur(30px);
  }
  .signupC { 
    backdrop-filter: blur(30px);
    margin-top: 8vh;
  }
  .signupC:hover { 
    backdrop-filter: blur(30px);
    margin-top: 8vh;
  }
}
