.navbar {
    width: 100%;
    height: 140px;
    display: grid;
    background: linear-gradient(100deg, #00c6ff, #0073ffc3);
    position: fixed;
    bottom: 0;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    text-align: center;

    /* #f7f9fb */
    /* background: #f8f8ff; */
    /* background: linear-gradient( 90deg, #5b86e5, #36d1dc); */
    /* width: 80%; */
    border-radius: 25px;
    /* bottom: 5%;
    left: 10%; */
}

.nav-item {
    line-height: 150px;
    font-size: 50px;
    color: #f4f4f4;
}
